.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1px;
    width: 80vmin;
    height: 80vmin; 
}
.square {
    padding-top: 100%; 
    position: relative;
}

.square > div {
    background-color: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
   
.sketchpicker-container {
       margin-left: 80px; 
}

